In [30]:
import pandas as pd
import numpy as np

In [31]:
df_caract = pd.read_csv("../data/raw/caracteristiques-2022.csv", sep=";")
df_lieux = pd.read_csv("../data/raw/lieux-2022.csv", sep=";")
df_usagers = pd.read_csv("../data/raw/usagers-2022.csv", sep=";")
df_vehicules = pd.read_csv("../data/raw/vehicules-2022.csv", sep=";")

C:\Users\remi\AppData\Local\Temp\ipykernel_2080\865678336.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_lieux = pd.read_csv("../data/raw/lieux-2022.csv", sep=";")

In [32]:
df_caract["Num_Acc"] = df_caract["Accident_Id"]
df_caract.drop(columns=["Accident_Id"], inplace=True)

In [33]:
columns = {
    "df_usagers": df_usagers,
    "df_caract": df_caract,
    "df_lieux": df_lieux,
    "df_vehicules": df_vehicules,
}

for key,column in columns.items():
    print(f'{key}: {column.shape} | {column.isna().sum().sum()} na| {column.duplicated().sum()} duplicate')

df_usagers: (126662, 16) | 2874 na| 0 duplicate
df_caract: (55302, 15) | 1233 na| 0 duplicate
df_lieux: (55302, 18) | 110126 na| 0 duplicate
df_vehicules: (94493, 11) | 93676 na| 0 duplicate

In [34]:
df_merged = pd.merge(df_usagers, df_vehicules, on=['id_vehicule', "Num_Acc"], how='left')
print(f'{df_merged.shape} | {df_merged.isna().sum().sum()} na | {df_merged.duplicated().sum()} duplicate')

print(f'df_merged: {df_merged.isna().sum()[df_merged.isna().sum() > 0]}')

for key,column in columns.items():
    print('')
    print(f'{key}: {column.isna().sum()[column.isna().sum() > 0]}')

(126662, 25) | 127766 na | 0 duplicate
df_merged: an_nais      2874
occutc     124892
dtype: int64

df_usagers: an_nais    2874
dtype: int64

df_caract: adr    1233
dtype: int64

df_lieux: voie       4805
v2        50047
lartpc    55274
dtype: int64

df_vehicules: occutc    93676
dtype: int64

In [35]:
df_merged = pd.merge(df_merged, df_caract, on='Num_Acc', how='left')
print(f'{df_merged.shape} | {df_merged.isna().sum().sum()} na | {df_merged.duplicated().sum()} duplicate')

print("df_merged:")
print(f"{df_merged.isna().sum()[df_merged.isna().sum() > 0]}")

for key,column in columns.items():
    print('')
    print(f'{key}: {column.isna().sum()[column.isna().sum() > 0]}')

(126662, 39) | 130641 na | 0 duplicate
df_merged:
an_nais      2874
occutc     124892
adr          2875
dtype: int64

df_usagers: an_nais    2874
dtype: int64

df_caract: adr    1233
dtype: int64

df_lieux: voie       4805
v2        50047
lartpc    55274
dtype: int64

df_vehicules: occutc    93676
dtype: int64

In [36]:
df_merged = pd.merge(df_merged, df_lieux, on='Num_Acc', how='left')
print(f'{df_merged.shape} | {df_merged.isna().sum().sum()} na | {df_merged.duplicated().sum()} duplicate')

print("df_merged:")
print(f"{df_merged.isna().sum()[df_merged.isna().sum() > 0]}")

for key,column in columns.items():
    print('')
    print(f'{key}: {column.isna().sum()[column.isna().sum() > 0]}')

(126662, 56) | 381894 na | 0 duplicate
df_merged:
an_nais      2874
occutc     124892
adr          2875
voie         9885
v2         114769
lartpc     126599
dtype: int64

df_usagers: an_nais    2874
dtype: int64

df_caract: adr    1233
dtype: int64

df_lieux: voie       4805
v2        50047
lartpc    55274
dtype: int64

df_vehicules: occutc    93676
dtype: int64

In [37]:
df_merged_loaded = pd.read_csv('../data/processed/merged_data_2019_2022.csv')

In [38]:
df_merged_loaded.isna().sum()

place           0
catu            0
grav            0
sexe            0
an_nais         0
trajet          0
locp            0
actp            0
senc            0
catv            0
obs             0
obsm            0
manv            0
jour            0
mois            0
lum             0
agg             0
int             0
atm             0
col             0
catr            0
circ            0
vosp            0
prof            0
plan            0
surf            0
infra           0
situ            0
vma             0
nb_v            0
nb_u            0
jour_semaine    0
hr              0
tpc             0
reg             0
has_ceinture    0
has_gants       0
has_casque      0
has_airbag      0
has_gilet       0
has_de          0
choc_avant      0
choc_arriere    0
choc_gauche     0
choc_droit      0
dtype: int64

In [39]:
df_merged_loaded.duplicated().sum()

0

In [40]:
df_merged_loaded.dtypes

place            object
catu             object
grav              int64
sexe             object
an_nais         float64
trajet           object
locp             object
actp             object
senc             object
catv             object
obs              object
obsm             object
manv             object
jour              int64
mois              int64
lum              object
agg               int64
int              object
atm              object
col              object
catr             object
circ             object
vosp             object
prof             object
plan             object
surf             object
infra            object
situ             object
vma               int64
nb_v              int64
nb_u              int64
jour_semaine     object
hr                int64
tpc               int64
reg              object
has_ceinture      int64
has_gants         int64
has_casque        int64
has_airbag        int64
has_gilet         int64
has_de            int64
choc_avant        int64
choc_arriere      int64
choc_gauche       int64
choc_droit        int64
dtype: object