In [30]:
import pandas as pd
import numpy as np

In [31]:
df_caract = pd.read_csv("../data/raw/caracteristiques-2022.csv", sep=";")
df_lieux = pd.read_csv("../data/raw/lieux-2022.csv", sep=";")
df_usagers = pd.read_csv("../data/raw/usagers-2022.csv", sep=";")
df_vehicules = pd.read_csv("../data/raw/vehicules-2022.csv", sep=";")

C:\Users\remi\AppData\Local\Temp\ipykernel_12820\865678336.py:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df_lieux = pd.read_csv("../data/raw/lieux-2022.csv", sep=";")

In [32]:
df_caract["Num_Acc"] = df_caract["Accident_Id"]
df_caract.drop(columns=["Accident_Id"], inplace=True)

In [33]:
columns = {
    "df_usagers": df_usagers,
    "df_caract": df_caract,
    "df_lieux": df_lieux,
    "df_vehicules": df_vehicules,
}

for key,column in columns.items():
    print(f'{key}: {column.shape} | {column.isna().sum().sum()} na| {column.duplicated().sum()} duplicate')

df_usagers: (126662, 16) | 2874 na| 0 duplicate
df_caract: (55302, 15) | 1233 na| 0 duplicate
df_lieux: (55302, 18) | 110126 na| 0 duplicate
df_vehicules: (94493, 11) | 93676 na| 0 duplicate

In [34]:
df_merged = pd.merge(df_usagers, df_vehicules, on=['id_vehicule', "Num_Acc"], how='left')
print(f'{df_merged.shape} | {df_merged.isna().sum().sum()} na | {df_merged.duplicated().sum()} duplicate')

print(f'df_merged: {df_merged.isna().sum()[df_merged.isna().sum() > 0]}')

for key,column in columns.items():
    print('')
    print(f'{key}: {column.isna().sum()[column.isna().sum() > 0]}')

(126662, 25) | 127766 na | 0 duplicate
df_merged: an_nais      2874
occutc     124892
dtype: int64

df_usagers: an_nais    2874
dtype: int64

df_caract: adr    1233
dtype: int64

df_lieux: voie       4805
v2        50047
lartpc    55274
dtype: int64

df_vehicules: occutc    93676
dtype: int64

In [35]:
df_merged = pd.merge(df_merged, df_caract, on='Num_Acc', how='left')
print(f'{df_merged.shape} | {df_merged.isna().sum().sum()} na | {df_merged.duplicated().sum()} duplicate')

print("df_merged:")
print(f"{df_merged.isna().sum()[df_merged.isna().sum() > 0]}")

for key,column in columns.items():
    print('')
    print(f'{key}: {column.isna().sum()[column.isna().sum() > 0]}')

(126662, 39) | 130641 na | 0 duplicate
df_merged:
an_nais      2874
occutc     124892
adr          2875
dtype: int64

df_usagers: an_nais    2874
dtype: int64

df_caract: adr    1233
dtype: int64

df_lieux: voie       4805
v2        50047
lartpc    55274
dtype: int64

df_vehicules: occutc    93676
dtype: int64

In [36]:
df_merged = pd.merge(df_merged, df_lieux, on='Num_Acc', how='left')
print(f'{df_merged.shape} | {df_merged.isna().sum().sum()} na | {df_merged.duplicated().sum()} duplicate')

print("df_merged:")
print(f"{df_merged.isna().sum()[df_merged.isna().sum() > 0]}")

for key,column in columns.items():
    print('')
    print(f'{key}: {column.isna().sum()[column.isna().sum() > 0]}')

(126662, 56) | 381894 na | 0 duplicate
df_merged:
an_nais      2874
occutc     124892
adr          2875
voie         9885
v2         114769
lartpc     126599
dtype: int64

df_usagers: an_nais    2874
dtype: int64

df_caract: adr    1233
dtype: int64

df_lieux: voie       4805
v2        50047
lartpc    55274
dtype: int64

df_vehicules: occutc    93676
dtype: int64

In [ ]:
display(df_merged.head())
display(df_merged['catv'].unique())

,Num_Acc,id_usager,id_vehicule,num_veh_x,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp,num_veh_y,senc,catv,obs,obsm,choc,manv,motor,occutc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,adr,lat,long,catr,voie,v1,v2,circ,nbv,vosp,prof,pr,pr1,plan,lartpc,larrout,surf,infra,situ,vma
0,202200000001,1 099 700,813 952,A01,1,1,3,1,2008.0,5,2,8,-1,-1,-1,-1,A01,1,2,0,2,1,9,1,NaN,19,10,2022,16:15,1,26,26198,2,3,1,3,TEIL(vieille route du),"44,5594200000","4,7257200000",4,TEIL(vieille route du),0,NaN,2,2,0,1,(1),(1),1,NaN,-1,1,0,1,50
1,202200000001,1 099 701,813 953,B01,1,1,1,1,1948.0,5,1,8,-1,-1,-1,-1,B01,1,7,0,2,2,1,1,NaN,19,10,2022,16:15,1,26,26198,2,3,1,3,TEIL(vieille route du),"44,5594200000","4,7257200000",4,TEIL(vieille route du),0,NaN,2,2,0,1,(1),(1),1,NaN,-1,1,0,1,50
2,202200000002,1 099 698,813 950,B01,1,1,4,1,1988.0,9,1,0,-1,0,0,-1,B01,2,7,0,2,8,15,1,NaN,20,10,2022,08:34,1,25,25204,2,3,1,3,Miranda,"46,9258100000","6,3462000000",4,NaN,0,NaN,2,2,0,1,(1),(1),1,NaN,-1,1,0,1,50
3,202200000002,1 099 699,813 951,A01,1,1,1,1,1970.0,4,1,0,-1,0,0,-1,A01,2,10,0,2,1,1,1,NaN,20,10,2022,08:34,1,25,25204,2,3,1,3,Miranda,"46,9258100000","6,3462000000",4,NaN,0,NaN,2,2,0,1,(1),(1),1,NaN,-1,1,0,1,50
4,202200000003,1 099 696,813 948,A01,1,1,1,1,2002.0,0,1,0,-1,-1,-1,-1,A01,2,7,0,2,1,2,1,NaN,20,10,2022,17:15,1,22,22360,2,6,1,2,ROND POINT DE BREZILLET,"48,4931620000","-2,7604390000",3,ROND POINT DE BREZILLET,0,NaN,-1,2,0,1,0,0,1,NaN,-1,1,5,1,50

array([ 2,  7, 10, 33,  1, 32, 14, 43, 30, 60, 13, 50, 37,  3, 31, 99, 17,
       80, 36, 15, 34, 21,  0, 38, 41, -1, 20, 39, 35, 40, 42, 16],
      dtype=int64)

In [25]:
df_catu = df_merged[df_merged['catu'] == 3]
display(df_catu.tail())

display(df_catu['catv'].unique())

,Num_Acc,id_usager,id_vehicule,num_veh_x,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp,num_veh_y,senc,catv,obs,obsm,choc,manv,motor,occutc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,adr,lat,long,catr,voie,v1,v2,circ,nbv,vosp,prof,pr,pr1,plan,lartpc,larrout,surf,infra,situ,vma
126563,202200055260,968 328,715 698,A01,10,3,4,1,2014.0,2,0,-1,-1,3,3,2,A01,1,40,0,1,1,1,3,NaN,24,3,2022,17:40,1,13,13204,2,1,1,1,CHAVE (BOULEVARD),"43,2958400000","5,4008600000",4,CHAVE (BOULEVARD),0,NaN,3,4,3,2,0,0,1,NaN,-1,1,-1,6,50
126565,202200055261,968 324,715 695,A01,10,3,2,1,1977.0,5,0,-1,-1,1,1,1,A01,2,7,0,1,1,1,1,NaN,1,1,2022,20:20,3,95,95351,1,1,1,6,RD 165E,"49,0493770000","2,5229280000",3,D165,0,E,2,2,0,1,4,100,1,NaN,-1,1,0,1,80
126568,202200055262,968 322,715 693,A01,10,3,2,2,1946.0,5,0,-1,-1,9,3,1,A01,3,10,0,1,5,26,0,NaN,22,3,2022,11:00,1,13,13004,1,1,1,6,DRA MARSEILLAISE RAPHELE,"43,6584500000","4,6541400000",4,DRA MARSEILLAISE RAPHELE,0,NaN,-1,1,0,1,0,0,1,NaN,-1,1,0,8,20
126598,202200055275,968 291,715 669,A01,10,3,4,1,1979.0,5,0,-1,-1,1,6,2,A01,2,7,0,1,2,1,1,NaN,1,1,2022,16:25,2,03,03027,1,1,7,6,le passeau route de MONTVICQ,"46,3241120000","2,8358240000",3,159,0,D,2,2,0,1,6,400,1,NaN,-1,1,0,1,90
126604,202200055277,968 287,715 667,A01,10,3,4,2,1954.0,0,0,-1,-1,3,3,2,A01,1,10,0,1,1,1,1,NaN,1,1,2022,18:20,5,01,01142,2,1,1,6,60 Rue de Genève,"45,8512980000","5,0632630000",3,1084,-1,NaN,2,2,0,1,12,674,1,NaN,-1,1,0,1,50

array([ 7, 10,  1, 37, 14, 32, 50, 30,  0,  3, 15, 33, -1, 20, 17,  2, 34,
       38, 13, 40, 39, 80, 31, 60, 99, 21, 43, 42, 35, 16], dtype=int64)

In [37]:
df_merged_loaded = pd.read_csv('../data/processed/merged_data_2019_2022.csv')

In [22]:
display(df_merged_loaded.head())
display(df_merged_loaded['catv'].unique())

,place,catu,grav,sexe,an_nais,trajet,locp,actp,senc,catv,obs,obsm,manv,jour,mois,lum,agg,int,atm,col,catr,circ,vosp,prof,plan,surf,infra,situ,vma,nb_v,nb_u,jour_semaine,hr,tpc,reg,has_ceinture,has_gants,has_casque,has_airbag,has_gilet,has_de,choc_avant,choc_arriere,choc_gauche,choc_droit
0,conducteur,en_vehicule,1,masculin,1983.0,personnelle,-1,-1,croissant,vl,aucun,vehicule,changement_dir,7,3,jour,1,simple,normale,deux_vl,route_secondaire,simple,sans,plat,rectiligne,normale,aucun,normale,50,2,2,Saturday,16,1,Ile-de-France,1,0,0,0,0,0,1,0,0,1
1,conducteur,en_vehicule,3,masculin,1982.0,personnelle,-1,-1,croissant,2rm,aucun,vehicule,ligne_droite,7,3,jour,1,simple,normale,deux_vl,route_secondaire,simple,sans,plat,rectiligne,normale,aucun,normale,50,2,2,Saturday,16,1,Ile-de-France,0,1,1,0,0,0,1,0,0,0
2,conducteur,en_vehicule,1,masculin,1997.0,domicile,-1,-1,inconnu,vl,aucun,pieton,particuliere,7,3,crepuscule_aube,1,complexe,difficiles,autres,route_secondaire,simple,sans,plat,courbe,normale,aucun,normale,50,1,2,Saturday,8,1,Ile-de-France,0,0,0,0,0,0,1,0,0,1
3,pieton,pieton,0,masculin,1967.0,personnelle,chaussee,traverse,inconnu,vl,aucun,pieton,particuliere,7,3,crepuscule_aube,1,complexe,difficiles,autres,route_secondaire,simple,sans,plat,courbe,normale,aucun,normale,50,1,2,Saturday,8,1,Ile-de-France,0,0,0,0,0,0,1,0,0,1
4,conducteur,en_vehicule,1,masculin,1985.0,-1,-1,-1,croissant,vl,aucun,vehicule,ligne_droite,7,3,jour,1,simple,normale,deux_vl,route_secondaire,-1,sans,plat,rectiligne,normale,aucun,normale,50,2,3,Saturday,13,1,Ile-de-France,1,0,0,0,0,0,1,0,0,0

array(['vl', '2rm', 'cycle_edp', 'pl', '-1'], dtype=object)

In [39]:
df_merged_loaded.duplicated().sum()

0

In [40]:
df_merged_loaded.dtypes

place            object
catu             object
grav              int64
sexe             object
an_nais         float64
trajet           object
locp             object
actp             object
senc             object
catv             object
obs              object
obsm             object
manv             object
jour              int64
mois              int64
lum              object
agg               int64
int              object
atm              object
col              object
catr             object
circ             object
vosp             object
prof             object
plan             object
surf             object
infra            object
situ             object
vma               int64
nb_v              int64
nb_u              int64
jour_semaine     object
hr                int64
tpc               int64
reg              object
has_ceinture      int64
has_gants         int64
has_casque        int64
has_airbag        int64
has_gilet         int64
has_de            int64
choc_avant        int64
choc_arriere      int64
choc_gauche       int64
choc_droit        int64
dtype: object

In [13]:
import matplotlib.pyplot as plt

# Extraire une ligne où catu = 3
example_row = df_merged[df_merged['catu'] == 3].iloc[10]

# Afficher les détails de l'accident
print(example_row)

# Visualisation simple : localisation géographique de l'accident
if 'latitude' in df_merged.columns and 'longitude' in df_merged.columns:
    plt.figure(figsize=(8, 6))
    plt.scatter(df_merged['longitude'], df_merged['latitude'], alpha=0.2, label="All Accidents")
    plt.scatter(example_row['longitude'], example_row['latitude'], color='red', label="Selected Accident (catu=3)")
    plt.xlabel('Longitude')
    plt.ylabel('Latitude')
    plt.title('Accident Location (catu=3)')
    plt.legend()
    plt.show()

# Visualisation contextuelle : type de véhicule ou autre attribut pertinent
if 'catv' in example_row:
    print(f"Type de véhicule impliqué : {example_row['catv']}")

Num_Acc           202200000031
id_usager            1 099 632
id_vehicule            813 906
num_veh_x                  A01
place                       10
catu                         3
grav                         4
sexe                         2
an_nais                 1960.0
trajet                       0
secu1                        0
secu2                       -1
secu3                       -1
locp                         4
actp                         3
etatp                        1
num_veh_y                  A01
senc                         0
catv                         7
obs                          0
obsm                         1
choc                         3
manv                        15
motor                        1
occutc                     NaN
jour                        21
mois                        10
an                        2022
hrmn                     08:15
lum                          2
dep                         94
com                      94080
agg                          2
int                          2
atm                          2
col                          6
adr            FONTENAY (R DE)
lat              48,8477400000
long              2,4403000000
catr                         3
voie           FONTENAY (R DE)
v1                           0
v2                         NaN
circ                         2
nbv                          2
vosp                         0
prof                         1
pr                           0
pr1                          0
plan                         1
lartpc                     NaN
larrout                     -1
surf                         2
infra                        0
situ                         1
vma                         50
Name: 66, dtype: object
Type de véhicule impliqué : 7

In [ ]:
df

In [19]:
# Filtrage des données pour catu = 3
df_catu_3 = df_merged[df_merged['catu'] == 2]

# Affichage complet des colonnes
pd.set_option('display.max_columns', None)

# Exploration des données
# Dimensions et valeurs manquantes
info_catu_3 = {
    "Shape": df_catu_3.shape,
    "Missing Values": df_catu_3.isna().sum().sum(),
    "Duplicates": df_catu_3.duplicated().sum(),
}
print("Informations sur catu=3:", info_catu_3)

# Aperçu des premières lignes
print("Aperçu des premières lignes:")
display(df_catu_3.head())

# Statistiques descriptives
df_catu_3_stats = df_catu_3.describe(include="all")
print("Statistiques descriptives:")
display(df_catu_3_stats)

Informations sur catu=3: {'Shape': (22675, 56), 'Missing Values': 66492, 'Duplicates': 0}
Aperçu des premières lignes:

,Num_Acc,id_usager,id_vehicule,num_veh_x,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp,num_veh_y,senc,catv,obs,obsm,choc,manv,motor,occutc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,adr,lat,long,catr,voie,v1,v2,circ,nbv,vosp,prof,pr,pr1,plan,lartpc,larrout,surf,infra,situ,vma
13,202200000007,1 099 686,813 941,A01,2,2,4,1,1999.0,5,8,0,-1,0,0,-1,A01,0,7,1,0,1,0,1,NaN,20,10,2022,21:00,5,13,13063,2,1,1,1,CARNOT RUE,"43,5822900000","5,0034300000",4,CARNOT RUE,0,NaN,1,1,0,1,0,0,1,NaN,-1,1,0,1,50
22,202200000011,1 099 678,813 935,A01,2,2,3,2,2004.0,0,8,0,-1,-1,-1,-1,A01,1,7,8,0,7,0,1,NaN,20,10,2022,06:20,5,09,09122,2,1,2,6,ESPAGNE (ROUTE D'),"42,9545900000","1,6236600000",3,ESPAGNE (ROUTE D'),0,NaN,2,2,0,2,38,522,1,NaN,-1,2,0,4,70
27,202200000014,1 099 669,813 930,B01,4,2,1,1,2007.0,2,1,0,-1,-1,-1,-1,B01,3,7,0,2,1,21,1,NaN,18,10,2022,17:50,1,02,02059,1,1,1,1,10 Grande Rue,"49,6536000000","3,3476700000",4,GRANDE RUE,0,NaN,2,2,0,1,0,0,3,NaN,-1,1,0,1,80
28,202200000014,1 099 670,813 930,B01,2,2,4,1,1969.0,3,1,0,-1,-1,-1,-1,B01,3,7,0,2,1,21,1,NaN,18,10,2022,17:50,1,02,02059,1,1,1,1,10 Grande Rue,"49,6536000000","3,3476700000",4,GRANDE RUE,0,NaN,2,2,0,1,0,0,3,NaN,-1,1,0,1,80
32,202200000015,1 099 665,813 928,Z01,3,2,4,1,1993.0,5,1,0,-1,0,0,-1,Z01,3,7,0,2,4,23,2,NaN,21,10,2022,03:16,5,75,75119,2,7,1,2,PLACE SKANDERBEG,"48,9004080000","2,3715030000",4,PLACE SKANDERBEG,0,NaN,1,4,2,1,(1),(1),2,NaN,-1,2,0,1,30

Statistiques descriptives:

,Num_Acc,id_usager,id_vehicule,num_veh_x,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp,num_veh_y,senc,catv,obs,obsm,choc,manv,motor,occutc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,adr,lat,long,catr,voie,v1,v2,circ,nbv,vosp,prof,pr,pr1,plan,lartpc,larrout,surf,infra,situ,vma
count,2.267500e+04,22675,22675,22675,22675.000000,22675.0,22675.000000,22675.000000,22672.000000,22675.000000,22675.000000,22675.000000,22675.000000,22675.000000,22675,22675.000000,22675,22675.000000,22675.000000,22675.000000,22675.000000,22675.000000,22675.000000,22675.000000,751.000000,22675.000000,22675.000000,22675.0,22675,22675.000000,22675,22675,22675.000000,22675.000000,22675.000000,22675.000000,21946,22675,22675,22675.000000,21255,22675.000000,2923,22675.000000,22675,22675.000000,22675.000000,22675,22675,22675.000000,11,22675,22675.000000,22675.000000,22675.000000,22675.000000
unique,NaN,22675,15143,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,NaN,14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1102,NaN,106,5211,NaN,NaN,NaN,NaN,8823,13194,13219,NaN,5383,NaN,21,NaN,27,NaN,NaN,376,881,NaN,6,47,NaN,NaN,NaN,NaN
top,NaN,1 099 686,755 536,A01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,A01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17:00,NaN,75,75117,NaN,NaN,NaN,NaN,A13,"46,8768240000","6,3749200000",NaN,1,NaN,D,NaN,2,NaN,NaN,(1),(1),NaN,"3,1",-1,NaN,NaN,NaN,NaN
freq,NaN,1,37,12981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14227,NaN,12981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,319,NaN,1258,154,NaN,NaN,NaN,NaN,201,37,37,NaN,362,NaN,1571,NaN,8063,NaN,NaN,5616,5750,NaN,2,21018,NaN,NaN,NaN,NaN
mean,2.022000e+11,NaN,NaN,NaN,3.281058,2.0,2.686439,1.486307,1992.288726,3.729041,1.900331,0.312988,-0.962558,-0.385623,NaN,-0.999515,NaN,1.562734,10.865402,1.917266,1.444101,3.000970,6.540287,1.075943,14.719041,15.704520,6.647894,2022.0,NaN,2.099140,NaN,NaN,1.456582,1.866064,1.569702,3.678015,NaN,NaN,NaN,3.021698,NaN,-0.231268,NaN,1.912547,NaN,0.167982,1.264432,NaN,NaN,1.361764,NaN,NaN,1.266770,0.748886,1.611114,68.174862
std,1.590180e+04,NaN,NaN,NaN,2.124673,0.0,1.369964,0.500088,19.858398,2.613425,2.237554,2.504188,0.571562,0.487568,NaN,0.033202,NaN,0.770633,11.184018,3.994532,1.195459,2.453106,7.839451,0.550975,12.886671,8.788169,3.275942,0.0,NaN,1.522307,NaN,NaN,0.498122,1.831846,1.622298,1.930363,NaN,NaN,NaN,1.325870,NaN,0.440077,NaN,0.859074,NaN,0.618478,0.578665,NaN,NaN,0.726380,NaN,NaN,0.886406,2.057287,1.547815,28.103342
min,2.022000e+11,NaN,NaN,NaN,1.000000,2.0,-1.000000,-1.000000,1921.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,NaN,-1.000000,NaN,-1.000000,0.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,2.000000,1.000000,1.000000,2022.0,NaN,1.000000,NaN,NaN,1.000000,-1.000000,1.000000,-1.000000,NaN,NaN,NaN,1.000000,NaN,-1.000000,NaN,-1.000000,NaN,-1.000000,-1.000000,NaN,NaN,1.000000,NaN,NaN,1.000000,-1.000000,-1.000000,-1.000000
25%,2.022000e+11,NaN,NaN,NaN,2.000000,2.0,1.000000,1.000000,1982.000000,0.000000,1.000000,-1.000000,-1.000000,-1.000000,NaN,-1.000000,NaN,1.000000,7.000000,0.000000,0.000000,1.000000,1.000000,1.000000,4.000000,8.000000,4.000000,2022.0,NaN,1.000000,NaN,NaN,1.000000,1.000000,1.000000,2.000000,NaN,NaN,NaN,2.000000,NaN,0.000000,NaN,2.000000,NaN,0.000000,1.000000,NaN,NaN,1.000000,NaN,NaN,1.000000,0.000000,1.000000,50.000000
50%,2.022000e+11,NaN,NaN,NaN,2.000000,2.0,3.000000,1.000000,1999.000000,5.000000,1.000000,-1.000000,-1.000000,0.000000,NaN,-1.000000,NaN,1.000000,7.000000,0.000000,2.000000,2.000000,1.000000,1.000000,9.000000,16.000000,7.000000,2022.0,NaN,1.000000,NaN,NaN,1.000000,1.000000,1.000000,3.000000,NaN,NaN,NaN,3.000000,NaN,0.000000,NaN,2.000000,NaN,0.000000,1.000000,NaN,NaN,1.000000,NaN,NaN,1.000000,0.000000,1.000000,70.000000
75%,2.022000e+11,NaN,NaN,NaN,4.000000,2.0,4.000000,2.000000,2005.000000,5.000000,1.000000,0.000000,-1.000000,0.000000,NaN,-1.000000,NaN,2.000000,7.000000,2.000000,2.000000,4.000000,13.000000,1.000000,27.000000,23.000000,9.000000,2022.0,NaN,3.000000,NaN,NaN,2.000000,2.000000,1.000000,6.000000,NaN,NaN,NaN,4.000000,NaN,0.000000,NaN,2.000000,NaN,0.000000,1.000000,NaN,NaN,1.000000,NaN,NaN,1.000000,0.000000,1.000000,80.000000
max,2.022001e+11,NaN,NaN,NaN,9.000000,2.0,4.000000,2.000000,2022.000000,9.000000,9.000000,9.000000,9.000000,2.000000,NaN,2.000000,NaN,3.000000,99.000000,17.000000,9.000000,9.000000,26.000000,6.000000,38.000000,31.000000,12.000000,2022.0,NaN,5.000000,NaN,NaN,2.000000,9.000000,9.000000,7.000000,NaN,NaN,NaN,9.000000,NaN,3.000000,NaN,4.000000,NaN,3.000000,4.000000,NaN,NaN,4.000000,NaN,NaN,9.000000,9.000000,8.000000,700.000000